.direnv/

# Artifacts of `tree-sitter generate`:
node_modules
.editorconfig
.gitattributes 
Cargo.toml
Makefile
Package.swift
binding.gyp
bindings/
package.json
pyproject.toml 
setup.py
src/
package-lock.json
build/
*.dylib
*.dylib.dSYM
*.so.dSYM
